.full-bar {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 20px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg1 {
    background-image:
        linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.6)),
        url('/assets/images/bg1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg2 {
    background-image:
        linear-gradient(-65deg, rgba(0,0,0,0.2), rgba(0,0,0,0.7)),
        url('/assets/images/bg2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg3 {
    background-image:
        linear-gradient(-45deg, rgba(0,0,0,0.2), rgba(0,0,0,0.8)),
        url('/assets/images/bg3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg4 {
    background-image:
        linear-gradient(-270deg, rgba(0,0,0,0.3), rgba(0,0,0,0.7)),
        url('/assets/images/bg4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg5 {
    background-image:
        linear-gradient(-75deg, rgba(0,0,0,0.3), rgba(0,0,0,0.78)),
        url('/assets/images/bg5.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-me summary {
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    color: #fcd24d;   /* makes it stand out */
    margin-top: 1em;
    transition: max-height 0.5s ease;
}

.about-me div {
    padding-top: 10px;
    line-height: 1.6;
}
