<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Arslaan Pathan | {{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/base.css">

  {{ page.head_extra }}
</head>
<body>
  <header class="site-header">
    <h2>Arslaan Pathan</h2>

    {% assign sorted_pages = site.pages | sort: "nav_order" %}
    <div class="nav-items">
      {% for p in sorted_pages %}
        {% if p.title %}
          <a
            class="nav-item {% if p.url == page.url %}active{% endif %}"
            href="{{ p.url | relative_url }}"
          >
            {{ p.title | escape }}
          </a>
        {% endif %}
      {% endfor %}
    </div>

    {%- include socials.html -%}
  </header>

  <div class="content">
    {{ content }}
  </div>

  <footer>
    <!-- footer here -->
  </footer>
</body>
</html>
